@use 'variables' as *;
@use 'mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* , *::after , *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 18px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.container{
    max-width: 62rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @include sm-and-down{
      width: 100%;
      padding: 0 1.75rem;
    }
}

/* typography */
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
    color : $grayish-blue-lvl-1;

}
p{
    color : $grayish-blue-lvl-2;
}

.text-center{
    text-align: center;
}

.heading-lvl-1{
    font-size: 2.2rem;
    @include sm-and-down{
      font-size: 1.75rem;
    }
}
.heading-lvl-2{
    font-size: 2rem;
    @include sm-and-down{
      font-size: 1.5rem;
    }
}
.heading-lvl-3{
    font-size: 1.5rem;
    @include sm-and-down{
      font-size: 1rem;
    }
}

.p-lvl-1{
    font-size: 1.1rem;
    @include sm-and-down{
      font-size: .9rem;
    }
}
.p-lvl-2{
    font-size: 1rem;
    @include sm-and-down{
      font-size: .9rem;
    }
}
.p-lvl-3{
    font-size: .95rem;
    @include sm-and-down{
      font-size: .9rem;
    }
}

.f-weight-400{
    font-weight: 400;
}

.f-weight-600{
    font-weight: 600;
}

a{
    text-decoration: none;
}

/* centring with margins */
.auto-margins{
    margin-left: auto;
    margin-right: auto;
}



/* btn */
.btn{
    padding: 1rem 3rem;
    outline: none;
    border: none;
    cursor: pointer;
    color : white ;
    display: inline-block;
    border-radius: 2rem;
    transition: .3s ;
    text-align: center;
      &.ios{
          background-color: $cyan;
          border-bottom: 4px solid darken($color: $cyan, $amount: 10);
          box-shadow: 0 .75rem $cyan 0 0  ;
          &:hover{
              background-color: lighten($cyan ,5);
          }
      }
      &.mac{
          background-color: $blue;
          border-bottom: 4px solid darken($color: $blue, $amount: 10);
          &:hover{
              background-color: lighten($blue      ,5);
          }
      }


}

img{
    width: 100%;
}
